---
import { Image } from 'astro:assets';
// import vadim from '../../assets/vadim.png'
// import david from '../../assets/david.png'
import ITg from '../icon/ITg.astro';
import ITeacher from '../icon/ITeacher.astro';

// Настройте эти значения под себя
const TELEGRAM_USERNAME = "ExamRuT";
const PREDEFINED_MESSAGE = "Здравствуйте! Хочу связаться с вами чтобы уточнить...";

// Кодируем сообщение для URL
const encodedMessage = encodeURIComponent(PREDEFINED_MESSAGE);
const telegramLink = `https://t.me/${TELEGRAM_USERNAME}?text=${encodedMessage}`;

// Тип виджета ПРОФИ.ру 
const profiWidgetType = {
    small: '210x190',
    big: '300x100'
}

const arrTeam = [
    {
        // img : vadim,
        name : 'Богданов Вадим',
        description : 'FullStack developer. Преподователь',
        urls : ['', ''],
        telegramMessage : "Здравствуйте! Хочу записаться на консультацию к Вадиму Богданову",
        profiUrl: {
            name: 'BogdanovVY9',
            id: '2199599e6586622818ac0a5896632ed8'
        }
    },
    {
        // img : david,
        name : 'Бабаев Давид',
        description : 'Golang/Java developer. Преподователь',
        urls : ['', ''],
        telegramMessage : "Здравствуйте! Хочу записаться на консультацию к Давиду Бабаеву",
        profiUrl: {
            name: 'BabayevDA3',
            id: 'cc63c50dbe954023e8428155f8e60964'
        }
    },
    {
        // img : david,
        name : 'Тимофеев Михаил',
        description : 'Преподователь',
        urls : ['', ''],
        telegramMessage : "Здравствуйте! Хочу записаться на консультацию к Михаилу Тимофееву",
        profiUrl: {
            name: 'TimofeyevMV4',
            // id: 'AfmBOooDItcIHsGienOZUjCf64N0riHs0NNzYP2ljLUo0vE9vk4pSllW'
        }
    }
]
---

<section id="team" class="bg-white">
<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
    <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
            Наша команда
        </h2>
        <p class="font-light text-gray-500 sm:text-xl">
            Команда проффессионалов с многолетним опытом преподавания и реальной разработки в топовых IT компаниях.
        </p>
    </div>

    <!-- / -->
    <div class="grid gap-8 lg:gap-16 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3">
        {arrTeam.map((item) => (
            <div class="text-center text-gray-500">
                <ITeacher width="150px" height="150px" alt="Avatar" class="mb-4"/>
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900">
                    <a href="#">{ item.name }</a>
                </h3>
                <p>{ item.description }</p>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href={`https://t.me/${TELEGRAM_USERNAME}?text=${encodeURIComponent(item.telegramMessage)}`} target="_blank" rel="noopener noreferrer" class="text-gray-900 hover:text-gray-900">
                            <ITg width="25px" height="25px"/> 
                        </a>
                    </li>                                                       
                </ul>
                <div class="flex justify-center mt-4 profi-widget" data-id={`${item.profiUrl.id}`} data-type={`${profiWidgetType.big}`}>
                    Powered by <a href={`https://profi.ru/profile/${item.profiUrl}`}>Profi.ru</a>
                </div>
            </div>
        ))}
        <script defer src="https://profi.ru/jqs/widget/widget.js"></script>
    </div>
    
</div>
</section>